* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: "Roboto", sans-serif;
    background: radial-gradient(white, #7dbcff);
    height: 100vh;
    background-size: cover;
    background-position: center;
  }
  
  .container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 15px;
  }

  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
  }

  .container {
    position: relative;
    float: left;
  }